.searchpage {
    min-height:100%;
    color: whitesmoke;
    background: linear-gradient(rgb(91,87,115), rgba(0,0,0,1));
    overflow: hidden;

}
.column {
    float: left;
    width: 25%;
    padding: 10px;
    margin-bottom: 30px;
}
  
  /* Style the images inside the grid */
.col-img {
    opacity: 0.8; 
    cursor: pointer; 
    height: 350px;

}
  
.column img:hover {
    opacity: 1;
}


.movies {
    color: whitesmoke;
    background: linear-gradient(rgb(91,87,115), rgba(0,0,0,1));
    overflow: hidden;
    min-height: 100%;
}

.filter {
    margin-left: 70px;
    margin-top: 30px;
    margin-right: 70px;
}

.btn-filer {
    background-color: rgb(104, 99, 130);
    color: white;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-filer:hover {
    background-color: var(--thirdcolor);
    color: black;
}

.list-movies {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.ct-movies {
    display: flex;
    margin-bottom: 30px;
}

.ct-img-movie {
    height: 340px;
    width: 230px;
    object-fit: cover;
}

.ct-content {
    margin-left: 30px;
}

.ct-title-rate {
    display: flex;
}

.ct-title {
    color: var(--thirdcolor);
    font-size: 16px;
    height: 40px;
    width: 230px;
}

.fv-title {
    color: var(--thirdcolor);
    font-size: 22px;
    margin-right: 10px;
}

.ct-star {
    height: 15px;
}

.ct-rate {
    margin-top: 3px;
    font-size: 15px;
    display: inline-block;
}

.fv-rate {
    margin-top: 3px;
    font-size: 16px;
    display: inline-block;
}

.fv-date { 
    margin-top: 10px;
    font-size: 16px;
}

.ct-date { 
    margin-top: 3px;
    font-size: 15px;
}

.ct-overview { 
    margin-top: 10px;
    font-size: 16px;
}

.ct-overview {
    display: flex;
}

.ct-text {
    text-align: justify;
    margin-left: 5px;
    letter-spacing: 0.2px;
}

.remove , .addlist{
    background-color: rgb(104, 99, 130);
    color: white;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.remove:hover, .addlist:hover {
    color: black;
    background-color: var(--thirdcolor);
} 