*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primarycolor: black;
    --secondcolor: whitesmoke;
    --thirdcolor: rgb(255, 191, 0);
}

.App {
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    
}

